*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
}

body {
    min-width: 320px;
    min-height: 340px;
    font-family: "Lato", sans-serif;
}

#header {
    overflow: hidden;
    font-weight: bolder;
    font-size: 2rem;
    font-family: "Cinzel", serif;
}

@media (min-width: 1100px) {
    #header {
        height: 6vh;
        font-size: 3rem;
    }
}

#responsive-menu-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #d6b558;
}

@media (min-width: 1100px) {
    #responsive-menu-nav {
        display: none;
    }
}

#responsive-menu-image {
    width: 5rem;
}

#nav-bar {
    width: 100%;
    height: 100%;
}

#navigation-container {
    position: absolute;
    z-index: 2;
    display: flex;
    display: none;
    flex-direction: row;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    line-height: 2em;
    list-style: none;
    background-color: #16161b;
}

@media (min-width: 1100px) {
    #navigation-container {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 100%;
        padding-top: 0em;
        padding-bottom: 0em;
        line-height: normal;
        list-style: none;
        background-color: #16161b;
    }
}

a {
    color: #d6b558;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover {
    color: #f3fcf0;
}

/*** HOMEPAGE ***/

#homepage-wrap {
    width: 100%;
    height: 94vh;
    overflow: hidden;
    background: linear-gradient(rgba(50, 26, 26, 0.2), rgba(50, 26, 26, 0.2)), url('../images/homepage-responsive.jpeg');
    background-size: cover;
}

@media (min-width: 1100px) {
    #homepage-wrap {
        background: linear-gradient(rgba(50, 26, 26, 0.2), rgba(50, 26, 26, 0.2)),
        url("../images/homepage.jpeg");
        background-size: cover;
    }
}

#homepage-main {
    height: 100%;
}

#hero-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media (min-width: 1100px) {
    #hero-banner {
        align-items: flex-start;
        margin-left: 10%;
    }
}

#homepage-logo {
    width: 25rem;
    height: 25rem;
    margin-bottom: 5rem;
    border: 5px solid #16161b;
    border-radius: 10%;
}

@media (min-width: 1100px) {
    #homepage-logo {
        width: 50rem;
        height: 50rem;
    }
}

/*** ABOUT US PAGE ***/

#about-us-wrap {
    width: 100%;
    height: 100vh;
    min-height: 340px;
    background: linear-gradient(rgba(50, 26, 26, 0.2), rgba(50, 26, 26, 0.2)),
    url("../images/about-us-responsive.jpeg");
    background-size: cover;
    overflow: hidden;
}

@media (min-width: 1100px) {
    #about-us-wrap {
        width: 100%;
        height: 94vh;
    }
}

#about-us-main {
    height: 100%;
    min-height: 340px;
}

@media (min-width: 1100px) {
    #about-us-main {
        width: 100%;
        height: 94vh;
    }
}

#about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#about-us-text {
    width: 75%;
    height: auto;
    margin: 0.5em;
    padding: 1em;
    color: #d6b558;
    font-weight: 400;
    font-size: 2rem;
    text-align: justify;
    background-color: #16161b;
    border: solid 3px #d6b558;
    border-radius: 1em;
    opacity: 0.9;
}

@media (min-width: 1100px) {
    #about-us-text {
        width: 50%;
        margin: 2rem;
        padding: 2em;
        line-height: 1.5em;
    }
}

#about-us-logo {
    display: none;
    width: 10rem;
    height: 10rem;
    border-radius: 10%;
}

@media (min-width: 1100px) {
    #about-us-logo {
        display: block;
        width: 20rem;
        height: 20rem;
        margin-top: 10px;
    }
}

/*** CARTE PAGE ***/

#carte-wrap {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(50, 26, 26, 0.2), rgba(50, 26, 26, 0.2)),
    url("../images/carte-responsive.jpeg");
    background-size: cover;
}

@media (min-width: 1100px) {
    #carte-wrap {
        width: 100%;
        height: 94vh;
        background: linear-gradient(rgba(50, 26, 26, 0.2), rgba(50, 26, 26, 0.2)),
        url("../images/carte.jpeg");
        background-size: cover;
    }
}

#carte-main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#carte-container {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 2fr));
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    margin: 2rem;
}

.plat-container {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    opacity: 0.875;
    transition: opacity 0.3s;
}

.plat-container:hover {
    opacity: 1;
}

.images-carte {
    width: 30rem;
    height: 20rem;
    object-fit: cover;
    border: 5px solid #d6b558;
    border-bottom: 0px;
    border-radius: 50px 50px 0 0;
}

.text-carte {
    margin: 0px;
    padding: 0.5em;
    padding: 0px;
    color: #d6b558;
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    background-color: #16161b;
    border: 5px solid #d6b558;
    border-radius: 0 0 50px 50px;
}

/*** CONTACT PAGE ***/

#contact-wrap {
    width: 100%;
    height: 94vh;
    overflow: hidden;
    background: linear-gradient(rgba(50, 26, 26, 0.2), rgba(50, 26, 26, 0.2)),
    url("../images/contact-responsive.jpeg");
    background-size: cover;
}

@media (min-width: 1100px) {
    #contact-wrap {
        width: 100%;
        height: 94vh;
        background: linear-gradient(rgba(50, 26, 26, 0.2), rgba(50, 26, 26, 0.2)),
        url("../images/contact.jpg");
        background-size: cover;
    }
}

#contact-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

#title-page-contact {
    padding: 0.2em 0.5em;
    color: #16161b;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    background-color: #d6b558;
    border-radius: 5px;
}

@media (min-width: 1100px) {
    #title-page-contact {
        width: 30%;
        color: #16161b;
        font-weight: bolder;
        font-size: 5rem;
        background-color: #d6b558;
    }
}

#contact-form {
    width: auto;
    height: auto;
    padding: 1em 0.5em;
    color: #d6b558;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: #16161b;
    border: solid 2px #d6b558;
    border-radius: 10px;
}

@media (min-width: 1100px) {
    #contact-form {
        width: 30%;
        height: auto;
        padding: 2em 0.5em;
    }
}

.label-contact-form {
    display: inline-block;
    width: 35%;
    text-align: right;
}

@media (min-width: 1100px) {
    .label-contact-form {
        width: 30%;
        height: 35%;
        padding: 1em 0em;
    }
}

input,
textarea {
    box-sizing: border-box;
    width: 60%;
    font: 1em sans-serif;
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    border-color: #000;
}

textarea {
    height: 10rem;
    vertical-align: top;
}

#button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0 0 0;
}

#form-button {
    color: #16161b;
    background-color: #d6b558;
}

#social-medias-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    padding: 0.5em 0;
    background-color: #d6b558;
    border: 2px solid #16161b;
    border-radius: 5px;
}

.social-medias-images {
    width: 5rem;
    height: 5rem;
}

@media (min-width: 1100px) {
    .social-medias-images {
        width: 8rem;
        height: 10rem;
    }
}

::placeholder {
    color: blue;
    font-size: 1.5em;
}

::placeholder {
    color: black;
    font-size: 1.5em;
    text-align: center;
    vertical-align: center;
}
